@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: #ffffff;

  height: 100dvh;
  width: 100dvw;  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  /* --color-* Color utilities like bg-red-500, text-sky-300, and many more */
  --color-background : hsl(0, 0%, 10%);
  --color-text : hsl(0, 0%, 95%);
  --color-text-dim : hsl(0, 0%, 75%);
  --color-accent : hsl(0, 0%, 85%);
  --color-error : hsl(0, 80%, 50%);
  --color-success : hsl(120, 80%, 40%);
  
  /* --font-*	Font family utilities like font-sans */
  /* --text-*	Font size utilities like text-xl */
  /* --font-weight-*	Font weight utilities like font-bold */
  /* --tracking-*	Letter spacing utilities like tracking-wide */
  /* --leading-*	Line height utilities like leading-tight */
  /* --breakpoint-*	Responsive breakpoint variants like sm:* */
  /* --container-*	Container query variants like @sm:* and size utilities like max-w-md */
  /* --spacing-*	Spacing and sizing utilities like px-4, max-h-16, and many more */
  /* --radius-*	Border radius utilities like rounded-sm */
  /* --shadow-*	Box shadow utilities like shadow-md */
  /* --inset-shadow-*	Inset box shadow utilities like inset-shadow-xs */
  /* --drop-shadow-*	Drop shadow filter utilities like drop-shadow-md */
  /* --blur-*	Blur filter utilities like blur-md */
  /* --perspective-*	Perspective utilities like perspective-near */
  /* --aspect-*	Aspect ratio utilities like aspect-video */
  /* --ease-*	Transition timing function utilities like ease-out */
  /* --animate-*	Animation utilities like animate-spin */
}